In [35]:
def myfun(x):
    return  x*x

if __name__ == '__main__':
    n = input()
    #my_list = [2,3,4,5,6,7,8,9]
    arr = list(map(myfun, int(input().split()))
    #print(value)
    print(arr)
    print(type(arr))

SyntaxError: invalid syntax (132727605.py, line 9)

In [2]:
print(arr)

<map object at 0x0000024A9675C700>

In [16]:
def square(n):
    return n*n
my_list = [2,3,4,5,6,7,8,9]
updated_list = map(square, my_list)
print(updated_list)
print(list(updated_list))

<map object at 0x0000024A979B48B0>
[4, 9, 16, 25, 36, 49, 64, 81]

In [62]:


x = list(int, input().split())
#print(x)
print(x)
#print(y)

4567

TypeError: list expected at most 1 argument, got 2

TypeError: can't multiply sequence by non-int of type 'str'